# Ignorar todos os arquivos de log do Nginx ou do sistema
*.log
logs/
nginx/data/logs/

# Ignorar arquivos de variáveis de ambiente
.env
.env_prod

# Ignorar o banco de dados SQLite dentro de uma pasta específica
nginx/data/database.sqlite